@charset "UTF-8";

body {
    background-color: aliceblue;
    font-family: 'Space Grotesk', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1 {
    color: tomato;

}
h2 {
    color: slateblue;
}
p {
    text-align: justify;
}