@charset "UTF-8";

* {
    font-family: 'Space Grotesk', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #2a2a72;
}
main {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #88a61cdc;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #BF0A2B;
    text-align: center;
    text-shadow: 1px 1px 2px #bf0a2bd0;
}
h2{
    color: #88a61cdc;    
}
p {
    font-family: 'DM Sans';
    text-align: justify;
}